{
  "presets": ["react-native"],
  "plugins": [
    "react-native-nodeify-hack",
    ["transform-define", {
      "KEY_GENERATOR": "singleton",
      "process.version": "v9.8.0"
    }],
    ["rewrite-require", {
      "aliases": {
        "crypto": "react-native-crypto",
        "stream": "stream-browserify",
        "vm": "vm-browserify"
      }
    }]
  ]
}
